body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: #fff;
}

section {
  padding: 80px 10%;
}

.hero {
  text-align: center;
  background: linear-gradient(135deg,#3b82f6,#6366f1);
}

.btn {
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
}
.project {
  background: #1e293b;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
}
